@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">School Management System</h1>
    </div>
    <div class="card card-image"  style="background-image: url(profile1.jpg) ; height:800px; width:auto" >
    </div>
 
    